services:
  redis:
    image: "redis:alpine"
    container_name: kanban-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: .
    image: aymanabuhijleh/backend-kanban
    container_name: kanban-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
